.vscode/**
.vscode-test/**
.codegraph/**
out/**
node_modules/**
!node_modules/@vscode/ripgrep/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
reference/**

